*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/originals/32/f6/8a/32f68a3b36b6c60f1d8bac9ba4af46fc.jpg);
    font-family: 'Lora', serif;
}

main{
    max-width: 900px;
    height: 90vh;
    background: rgb(2, 2, 7);
    margin: 5vh auto;
    border-radius: 5px;
    position: relative;
    
}
.decoration{
    max-width: 900px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 30px 0;
    border: 10px double white;
    color: white;
    text-align: center;
}
.title{
    font-size: clamp(20px, 70%, 50px);
}
.text{
    max-height: 70vh;
    overflow-y: auto;
    margin: 30px;
}
a{
    display: block;
    width: clamp(40px, 90%, 100px);
    margin: 10px auto;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background-color: aliceblue;
    text-decoration: none;
    
}